* 
    box-sizing: border-box
img
    max-width: 100%
body 
    scroll-behavior: smooth
    +regText
.section-title
    margin: 0
    text-align: center
    font-size: 36px
    +bold
    color: $main-color
.button
    border: 0
    color: $write-text
    +reg
    background-color: #f44336
.linkToTop
    position: absolute
    display: block
    width: 40px
    height: 40px
    background-color: #f1362f
    right: 0
    bottom: -20px
    border-radius: 50%