* 
    box-sizing: border-box
img
    max-width: 100%
body 
    +regText
.section-title
    margin: 0
    text-align: center
    font-size: 36px
    +bold
    color: $main-color
.button
    border: 0
    color: $write-text
    +reg
    background-color: #f44336