/*Color*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.section-title {
  margin: 0;
  text-align: center;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #f44336;
}

.button {
  border: 0;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #f44336;
}

.header {
  background: url("../img/header/bg_header.jpg") no-repeat;
  background-size: 100% 100%;
  padding-top: 13px;
  padding-bottom: 140px;
}

.navbar {
  color: #ffffff;
}

.navbar-block {
  height: 83px;
  padding-top: 8px;
  background-color: rgba(0, 0, 0, 0.55);
  margin-bottom: 32px;
}

.navbar-list {
  margin: auto;
}

.navbar-list__item:first-child {
  margin-right: 40px;
}

.navbar-link__img {
  margin-right: 14px;
}

.navbar-link__text {
  color: #ffffff;
  font-size: 17px;
}

.form-search__input {
  color: #ffffff;
  padding: 12px 0 12px 16px;
  margin: 0;
  max-width: 208px;
  height: 38px;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 0;
  outline: none;
}

.form-search__input:focus {
  background-color: rgba(0, 0, 0, 0.22);
}

.form-search__button {
  width: 38px;
  height: 38px;
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.form-search__button:hover {
  background-color: rgba(0, 0, 0, 0.22);
}

.menu-block {
  margin-bottom: 134px;
}

.menu-block::after {
  bottom: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.menu-item:hover::after {
  content: '';
  display: block;
  height: 4px;
  background-color: #ffffff;
}

.menu-text {
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}

.menu-text:hover {
  color: #ffffff;
}

.menu-active {
  color: #ffffff;
}

.menu-active__text {
  color: #ffffff;
}

.menu-active__text:hover {
  color: #000000;
}

.menu-active::after {
  content: '';
  display: block;
  height: 4px;
  background-color: #ffffff;
}

.hero-block {
  text-align: center;
}

.hero-block__subtitle {
  font-size: 18px;
  line-height: 48px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 76px;
}

.hero-block__subtitle::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 2px;
  background-color: #ffffff;
}

.hero-block__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 60px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 75px;
}

.icon-list__link {
  text-decoration: none;
}

.icon-list__link:not(:last-child) {
  margin-right: 12px;
}

.icon-list__link:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .navbar-content {
    padding: 15px;
    margin-top: 11px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .menu-block {
    margin-bottom: 90px;
  }
  .hero-block__subtitle {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .menu-block {
    margin-bottom: 50px;
  }
  .hero-block__subtitle {
    margin-bottom: 30px;
  }
  .header {
    background-size: cover;
  }
}

@media (max-width: 360px) {
  .hero-block__title {
    font-size: 50px;
  }
}

/*aboutUS*/
.aboutUs {
  padding: 90px 0px;
}

.aboutUs__title {
  text-align: start;
  margin-bottom: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 28px;
}

.aboutUs__text {
  font-size: 12px;
  line-height: 24px;
  color: #999999;
}

/*Servises*/
.services {
  padding-top: 86px;
  background-color: #f7f7f7;
}

.services__title {
  margin-bottom: 87px;
}

.services-block__item {
  margin-bottom: 86px;
}

.services-img {
  min-width: 102px;
  max-width: 102px;
  height: 102px;
  background-color: #ffffff;
  border: 1.0px solid #acacac;
  border-radius: 50%;
  text-align: center;
}

.services-img:hover {
  background-color: #f44336;
}

.services-text__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000000;
}

.services-text__text {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

.text-right {
  text-align: right;
}

/*gallery*/
.gallery {
  padding: 93px 0 166px 0;
}

.gallery-title {
  margin-bottom: 92px;
}

.gallery-item {
  padding-bottom: 13px;
  background-color: #f7f7f7;
}

.gallery-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  min-height: 80px;
  margin-top: 16px;
}

.gallery-buttons__name {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
}

.gallery-buttons__button {
  font-size: 14.1px;
  width: 130px;
  height: 30px;
}

/*slider*/
.slider {
  text-align: center;
  padding: 90px 0;
  background: url("../img/slider/slider_bg.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.slider-title {
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
  font-size: 48px;
  line-height: 34px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.slider-icon {
  opacity: 0.7;
  margin-bottom: 50px;
}

.slider-text {
  display: block;
  color: #ffffff;
  max-width: 800px;
  width: 70%;
  font-size: 14px;
  margin-bottom: 40px !important;
}

.slider-text__subtext {
  display: block;
  color: #ffffff;
}

.slider-prev, .slider-next {
  padding: 10px 14px;
  border: 1px solid #ffffff;
}

@media (max-width: 1200px) {
  .slider-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .slider {
    background-size: cover;
    background-position: center right -150px;
  }
}

@media (max-width: 768px) {
  .slider-control {
    top: auto;
    bottom: auto;
  }
}

@media (max-width: 360px) {
  .slider {
    background-position: center right -250px;
  }
}
/*# sourceMappingURL=style.css.map */